@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Linkin Süresi Bitmiş Veya Paylaşımı Durdurulmuş Olabilir</h2>

